<nav id="sidebar">
        <div class="sidebar-header">
            <h3>나지주그램</h3>
        </div>

        <ul class="list-unstyled components">
            <p>관리자 모드</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-picture"></span> 사진 관리</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">사진 올리기</a></li>
                    <li><a href="#">내 사진 관리하기</a></li>

                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span> 카테고리 관리</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">카테고리 만들기</a></li>
                    <li><a href="#">카테고리 목록 보기</a></li>

                </ul>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
        	{{#loginuser}}
            <li><a href="/users/logout" class="download">로그아웃</a></li>
            {{/loginuser}}
            {{^loginuser}}
            <li><a href="/users/login" class="download">로그인</a></li>
            {{/loginuser}}
            <li><a href="/invitation/preview" class="article">방문자 모드 미리보기</a></li>
        </ul>
    </nav>